Day 5 working lunch exercise

You have 2 hours to complete this excercise. You may work together but each student should turn in their own copy of the exercise. We will grade on effort so please do your best to answer all the questions and work together!

Create a Python notebook to run and document your analysis. You can start with this notebook, or from another existing notebook. When finished, export the notebook and submit it to Blackboard.

1. The half-life of P-32 radioactive isotope is 14.32 days. If you receive a vial of P32 containing 1000 atoms, how many atoms do you have left after 7 days? Plot the radioactive decay function and calculate number of remaining atoms at 7 days.

In [3]:
##to get you started
from scipy.integrate import solve_ivp
import math
import matplotlib.pyplot as plot

##using the half-life given to calculate the rate of decay
k = math.log(2)/14.2
k

0.048813181729573614

Answer:

2. You are tracking the growth of two bacterial strains over time. You notice that the two strains grow slightly differently, but what affect does strain have on the doubling time? To answer this, you will need to:
a) Tidy the following dataset and plot growth of the two samples
b) Fit a curve of exponential growth to the dataset
c) Use this curve to estimate growth rate and compare between the two.

In [22]:
import pandas as pd
#we loaded and tidied the data for you!
growthdata = pd.read_csv("../data/TECANgrowth.csv", header=None)
growthdata = growthdata.transpose()
growthdata = growthdata[1:]
growthdata.columns = ["t", "WT_0","kd_0"]
growthdata = growthdata.astype(float)
growthdata

          t    WT_0    kd_0
1       0.0  0.2010  0.1922
2      10.0  0.2165  0.1970
3      20.0  0.2298  0.2044
4      30.0  0.2429  0.2122
5      40.0  0.2606  0.2185
..      ...     ...     ...
136  1350.0  0.5300  0.4411
137  1360.0  0.5287  0.4380
138  1370.0  0.5295  0.4385
139  1380.0  0.5328  0.4374
140  1390.0  0.5276  0.4383

[140 rows x 3 columns]